<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="32" tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.Cashflowin">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Cashflowin.NoActionBar">
        </activity>
        
        <activity
            android:name=".ui.auth.LoginActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Cashflowin.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.auth.RegisterActivity"
            android:exported="false"
            android:label="Register"
            android:theme="@style/Theme.Cashflowin.NoActionBar" />

        <activity
            android:name=".ui.transaction.AddTransactionActivity"
            android:exported="false"
            android:theme="@style/Theme.Cashflowin.NoActionBar" />

        <activity
            android:name=".ui.transaction.ScanNotaActivity"
            android:exported="false"
            android:theme="@style/Theme.Cashflowin.NoActionBar" />

        <activity
            android:name=".ui.asset.AddEditAssetActivity"
            android:exported="false"
            android:theme="@style/Theme.Cashflowin.NoActionBar" />

        <activity
            android:name=".ui.asset.AssetDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.Cashflowin.NoActionBar" />

        <activity
            android:name=".ui.asset.TransferAssetActivity"
            android:exported="false"
            android:theme="@style/Theme.Cashflowin.NoActionBar" />

        <activity
            android:name=".ui.category.AddEditCategoryActivity"
            android:exported="false"
            android:theme="@style/Theme.Cashflowin.NoActionBar" />

        <activity
            android:name=".ui.settings.EditProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.Cashflowin.NoActionBar" />
        <activity
            android:name=".ui.planning.BudgetsActivity"
            android:exported="false"
            android:theme="@style/Theme.Cashflowin.NoActionBar" />

        <activity
            android:name=".ui.planning.GoalsActivity"
            android:exported="false"
            android:theme="@style/Theme.Cashflowin.NoActionBar" />

        <activity
            android:name=".ui.planning.AddBudgetActivity"
            android:exported="false"
            android:theme="@style/Theme.Cashflowin.NoActionBar" />

        <activity
            android:name=".ui.planning.AddGoalActivity"
            android:exported="false"
            android:theme="@style/Theme.Cashflowin.NoActionBar" />

        <activity
            android:name=".ui.planning.DebtsActivity"
            android:exported="false"
            android:theme="@style/Theme.Cashflowin.NoActionBar" />

        <activity
            android:name=".ui.planning.AddDebtActivity"
            android:exported="false"
            android:theme="@style/Theme.Cashflowin.NoActionBar" />

        <activity
            android:name=".ui.planning.DebtDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.Cashflowin.NoActionBar" />

        <activity
            android:name=".ui.planning.AddPaymentActivity"
            android:exported="false"
            android:theme="@style/Theme.Cashflowin.NoActionBar" />

        <activity
            android:name=".ui.planning.CalendarActivity"
            android:exported="false"
            android:theme="@style/Theme.Cashflowin.NoActionBar" />

        <activity
            android:name=".ui.planning.CalculatorActivity"
            android:exported="false"
            android:theme="@style/Theme.Cashflowin.NoActionBar" />

        <activity
            android:name=".ui.planning.EmergencyFundActivity"
            android:exported="false"
            android:theme="@style/Theme.Cashflowin.NoActionBar" />

        <activity
            android:name=".ui.planning.RetirementFundActivity"
            android:exported="false"
            android:theme="@style/Theme.Cashflowin.NoActionBar" />

        <activity
            android:name=".ui.planning.BasicCalculatorActivity"
            android:exported="false"
            android:theme="@style/Theme.Cashflowin.NoActionBar" />

        <activity
            android:name=".ui.planning.DebtSimulationActivity"
            android:exported="false"
            android:theme="@style/Theme.Cashflowin.NoActionBar" />

        <activity
            android:name=".ui.planning.ZakatCalculatorActivity"
            android:exported="false"
            android:theme="@style/Theme.Cashflowin.NoActionBar" />

        <activity
            android:name=".ui.settings.ResetMonthlyTransactionsActivity"
            android:exported="false"
            android:theme="@style/Theme.Cashflowin.NoActionBar" />

        <activity
            android:name=".ui.settings.ReportActivity"
            android:exported="false"
            android:theme="@style/Theme.Cashflowin.NoActionBar" />
    </application>

</manifest>
